/*selector{
	property:value;
}*/
body {
      background-image: url(https://tse1.explicit.bing.net/th/id/OIP.670NAg8zZrGngNUoRUixBwHaE8?rs=1&pid=ImgDetMain&o=7&rm=3);
      background-size: revert;
}
h2{
    color:black ;
    text-align: center;
    cursor:pointer ;
    font-size: 1;
    font-style: italic;
}
 
p{
	text-transform: uppercase;
	line-height: 50px;
	font-style: italic;
	font-weight: bold;
	font-size:80% ;
	font-family:Georgia ;
	color:lightblue ;
}
img{
	float: left;
}
p{
	color:black ;
	text-align: left;
}

  li{
  	 list-style: none;
  	 display: block;
  }
  